---
---

@import "reset";

//Header

header .logo {
    max-height: 50px;
    display: block;
}

header .logo svg {
    max-height: 50px;
    max-width: 50px;
    float: left;
}

header,
footer {
    padding: .25em;
    background: #333333;
    height: 50px;

    nav {
        margin: auto;
        float: right;

        ul {
            list-style: none;

            li {
                float:left;
            }
        }

        a {
            font-family: 'Droid Sans Mono', 'Helvetica', 'Arial', sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 50px;
        }

    }

}

header {
    position: relative;

    li {
        margin-left: 1em;
    }
}

// header::after {
//     content: '';
//     width: 100%;
//     height: 5px;
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: -5px;
//     float:left;
//     background: #CCCCCC;
// }

footer {
    nav {
        max-width: 40em;
        float: none;
    }
}

body {
    font: 100%/1.6 'Gentium Book Basic', Georgia , Cambria, 'Times New Roman', times, serif;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures;
    @media only screen and (min-width: 40em){
        font-size: 125%;
    }

}

//Content Typography
.content {
    font-weight: 400;
    padding: 0 2em;
    hyphens: auto;
    word-break: break-word;
    max-width: 40em;
    margin: auto;
    color: #333333;

    .dropcap {
        color: #FF00FF;
    }

    h1,h2,h3,h4,h5,h6 {
        margin: 1rem 0 0.6rem 0;
        line-height: 1.1em;
        color: #222222
    }

    p, & > ul, div {
        margin-bottom: 1.6rem;
    }

    & > p:last-of-type::after {
        content: '';
        transform: rotate(50deg);
        display: inline-block;
        position: relative;
        border: 1px solid #333333;
        top: -1px;
        left: 5px;
        width: 6px;
        height: 6px;
        background-color: #FF00FF;
        -webkit-animation-name: backgroundShift;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        animation-name: backgroundShift;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    h1 {font-size: 3.125em;}
    h2 {font-size: 2.618em;}
    h3 {font-size: 1.931em;}
    h4 {font-size: 1.618em;}
    h5 {font-size: 1.194em;}
    h6 {font-size: 1em;}
    p {font-size: 1.125em;}
    & > ul {
        font-size: 1.125em
    }

    li li {margin-left: 1em;}

    blockquote{
        width: 100%;
        float:left;
        font-size: 120%;
        position: relative;
        color: #444444;
        font-style: italic;

        &::before {
            content: '\201C';
            position: absolute;
            font-size: 1.75em;
            left: -.6em;
            top: -.125em;
        }

    }

}

.date {
    color: #999;
    margin-bottom: 1.6rem;
}

hr {
    border-color: #cccccc;
    border-style: dashed;
    margin: 1.6em auto;
}

.intro {
    font-size: 120%;
    padding: .25em;
    font-family: 'Droid Sans Mono', 'Helvetica', Arial, sans-serif;

    p {
        font-size: 1.125em;
    }
}

.posts {

    li {
        text-align: right;
        font-size: 120%;
        list-style: none;
        padding: .25em;
        border-radius: 5px;

        a {
            float: left;
        }

    }

}

.colorshift {
    color: #FF00FF;
    -webkit-animation-name: colorShift;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: colorShift;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

// Sticky Footer Experiment

html, body {
  height: 100%;
}

.content {
  min-height: 100%;
}

.content:after {
  content: "";
  display: block;
}

.footer, .content:after {
  height: 50px; 
}

@keyframes borderShift {
    0% {border-color: #FF00FF;}
    33% {border-color: #00FFFF;}
    66% {border-color: #FFFF00;}
}

@-webkit-keyframes borderShift {
    0% {border-color: #FF00FF;}
    33% {border-color: #00FFFF;}
    66% {border-color: #FFFF00;}
}

@keyframes backgroundShift {
    0% {background-color: #FF00FF;}
    33% {background-color: #00FFFF;}
    66% {background-color: #FFFF00;}
}

@-webkit-keyframes backgroundShift {
    0% {background-color: #FF00FF;}
    33% {background-color: #00FFFF;}
    66% {background-color: #FFFF00;}
}


@keyframes colorShift {
    0% {color: #FF00FF;}
    33% {color: #00FFFF;}
    66% {color: #FFFF00;}
}

@-webkit-keyframes colorShift {
    0% {color: #FF00FF;}
    33% {color: #00FFFF;}
    66% {color: #FFFF00;}
}

.previous-post {
    float: left;
}

.next-post {
    float: right;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

.other-articles {
    border-top: 2px solid #cccccc;
    padding-top: 1.6rem;
}