---
---

//------------------------------------------------------------------------------
// #TABLE OF CONTENTS
//------------------------------------------------------------------------------
// Imports................................SCSS partials imported from /_includes
// Vars............................................................Reused values
// Mixins............................................repeated sets of properties
// Typography................................Almost all HTML5 typographical tags
//   Base font stack..........................Other elements cascade off of this
//   Specific elements...............................h1-5, blockquotes, em, etc.
// Default template.....................Layout elements that appear on all pages
//   Header & Footer..............................Logo/navigation links included
//   Content area.........................Main area that holds post/page content
// Post template.....................Elements that only appear on the posts page
// Index template.....................Elements that only appear on the home page
// Animations............................@keyframes for whatever needs animating
// Utility..................................................Misc. useful classes
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------

//#Imports
//------------------------------------------------------------------------------
@import "reset";

//#Vars
//------------------------------------------------------------------------------
$spaceGrey: #333333;
$magenta: #FF00FF;
$codeStack: 'Droid Sans Mono', 'Helvetica', 'Arial', sans-serif;
$copyStack: 'Gentium Book Basic', Georgia , Cambria, 'Times New Roman', times, serif;
$copy: #222222;

//#Mixins
//------------------------------------------------------------------------------
@mixin animate($name, $duration, $iteration){
    -webkit-animation: $name $duration $iteration linear;
    -moz-animation:    $name $duration $iteration linear; 
    -o-animation:      $name $duration $iteration linear; 
    animation:         $name $duration $iteration linear; 
}

@mixin primaryShift($name, $prop){

    @-webkit-keyframes #{$name} {
        0% {#{$prop}: #FF00FF;}
        33% {#{$prop}: #00FFFF;}
        66% {#{$prop}: #FFFF00;}
    }
    
    @-moz-keyframes #{$name} {
        0% {#{$prop}: #FF00FF;}
        33% {#{$prop}: #00FFFF;}
        66% {#{$prop}: #FFFF00;}
    }

    @-o-keyframes #{$name} {
        0% {#{$prop}: #FF00FF;}
        33% {#{$prop}: #00FFFF;}
        66% {#{$prop}: #FFFF00;}
    }

    @keyframes #{$name} {
        0% {#{$prop}: #FF00FF;}
        33% {#{$prop}: #00FFFF;}
        66% {#{$prop}: #FFFF00;}
    }

}

//#Typography
//------------------------------------------------------------------------------
//#Base Font Stack
body {
    font: 100%/1.6 $copyStack;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures;
    hyphens: auto;
    word-break: break-word;
    font-weight: 400;

    @media only screen and (min-width: 40em){
        font-size: 125%;
    }

}

//#Individual elements
h1 {
    font-size: 3.125em;
}

h2 {
    font-size: 2.618em;
}

h3 {
    font-size: 1.931em;
}

h4 {
    font-size: 1.618em;
}

h5 {
    font-size: 1.194em;
}

h6 {
    font-size: 1em;
}

p {
    font-size: 1.125em;
}

h1,h2,h3,h4,h5,h6 {
    margin: 1rem 0 0.6rem 0;
    line-height: 1.1em;
    color: $copy;
}

.dropcap {
    color: $magenta;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

hr {
    border-color: lighten($copy, 50);
    border-style: dashed;
    margin: 1.6em auto;
}

li li { //sublists
    margin-left: 1em;
}

blockquote{
    width: 100%;
    float:left;
    font-size: 120%;
    position: relative;
    color: lighten($copy, 20);
    font-style: italic;

    &::before {
        content: '\201C'; //left double quote
        position: absolute;
        font-size: 1.75em;
        left: -.6em;
        top: -.125em;
    }

}

//#Default Template
//------------------------------------------------------------------------------
//#Header & Footer
header {
    background: $spaceGrey;
    float:left;
    padding: 1.55em 0;
    position: fixed;
    height: 100%;
    top: 0;
    width: 76px;
    
    @media only screen and (max-width: 40em){
        padding: 0;
        position: static;
        height: 40px;
        width: 100%;
    }

    ul {
        clear:left;
        float: left;
        width: 100%;
        list-style: none;

        @media only screen and (max-width: 40em){
            clear: none;
            float: right;
            width: auto;
        }

    }

    li {
        clear: left;
        float: left;
        text-align: center;
        width: 100%;

        @media only screen and (max-width: 40em){
            clear: none;
            width: auto;
            padding-right: 2em;
        }

        a {
            display: block;
            margin-top: 1em;
            font-family: $codeStack;
            font-size: .8em;
            text-transform: uppercase;
            letter-spacing: 1px;

            @media only screen and (max-width: 40em){
                line-height: 35px;
                margin-top: 0em;
            }

        }

    }

    nav {
        margin: auto;
        max-width: 40em;
    }

    .logo {
        height: 50px;
        position: relative;

        @media only screen and (max-width: 40em){
            height: 40px;
            float: left;
        }
        
        .svg-screen {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        svg {
            @include animate(fillShift, 10s, infinite);
            display: block;
            margin: auto;
            max-height: 50px;
            max-width: 50px;
            fill: $magenta;

            @media only screen and (max-width: 40em){
                height: 40px;
                margin-left: 2em;
                max-width: 40px;
            }

        }

    }

}

//#Content area
.content {
    padding: 0 2em;
    max-width: 40em;
    margin: auto;
    color: $spaceGrey;
    min-height: 100%;

    h1:first-of-type {
        padding-top: .25em;

        @media only screen and (max-width: 40em) {
            margin-top: 0;
            padding-top: 4rem;
        }

    }

    @media only screen and (max-width: 65em) {
        margin: auto 76px;
    }

    @media only screen and (max-width: 40em) {
        margin: auto;
    }

    &::after {
        content: "";
        display: block;
        height: 50px;
    }
    
    & > ul { //prevent sublists from increasing in size
        font-size: 1.125em
    }

    & > p:last-of-type::after { //tombstone
        @include animate(backgroundShift, 10s, infinite);
        content: '';
        transform: rotate(50deg);
        display: inline-block;
        position: relative;
        border: 1px solid $spaceGrey;
        top: -1px;
        left: 5px;
        width: 6px;
        height: 6px;
        background-color: $magenta;
    }

    p, & > ul, div {
        margin-bottom: 1.6rem;
    }

}

//#Post Template
//------------------------------------------------------------------------------
.date {
    color: lighten($copy, 50);
    margin-bottom: 1.6rem;
}

.previous-post {
    float: left;
}

.next-post {
    float: right;
}

.other-articles {
    padding-top: 1.6rem;
}

//#Index Template
//------------------------------------------------------------------------------
.intro {
    font-size: 120%;
    padding: .25em;
    font-family: $codeStack;

    p {
        font-size: 1.125em;
    }

}

.posts {

    li {
        text-align: right;
        font-size: 120%;
        list-style: none;
        padding: .25em;
        border-radius: 5px;

        a {
            float: left;
        }

    }

}

//#Animations
//------------------------------------------------------------------------------
@include primaryShift(borderShift, border-color);
@include primaryShift(backgroundShift, background-color);
@include primaryShift(colorShift, color);
@include primaryShift(fillShift, fill);

//#Utility
//------------------------------------------------------------------------------
.colorshift {
    @include animate(colorShift, 10s, infinite);
    color: $magenta;

    &:visited {
        @include animate(colorShift, 10s, infinite);
        color: $magenta;
    }
}