<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
        </ul>
    </nav>
</header>

<section>

{{ content }}

</section>

<footer>
    <ul>
        <li>
            {% if site.footer-links.github %}
            <a href="http://www.github.com/{{ site.footer-links.github }}">GitHub</a>
            {% endif %}
        </li>
    </ul>
</footer>

</body>
</html>